<div class="row">

    <div class="span12">

        <h2><%= title %>
        </h2>
        <br>
        <p>
        <b><%= author.name %> </b><small><%= date %></small><br>
            <%= content %>
        </p>
        <hr />
    </div>
</div>

<!-- COMMENT FORM -->
<div class="row">
    <div class="span12" id="commentsContainer">
        
       
        <% for(i=0; i<comments.length; i++) { %>
        <div class="comment">
            <p>
            	
                <b><%= comments[i].name %> </b><small><%= comments[i].date %></small><br>
                <%= comments[i].text %>
                <br>
            </p>
            <hr/>
        </div>
        <% } %>
    </div>
    
    
    <div class="span12">
        <form class="form-horizontal" id="commentForm" method="POST" action="/comment">
            <fieldset>
                <legend>Contribute</legend>

                <div class="control-group">
                    <label class="control-label" for="name">Your name</label>
                    <div class="controls">
                        <input type="text" name="name" id="name">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="text">Comment</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="text" name="text" rows="6" cols="50"></textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <input type="hidden" value="<%= urlslug %>" name="urlslug">
                    <button type="submit" class="btn btn-primary">Comment</button>
                    <button type="button" id="ajaxCommentBtn">Comment by AJAX</button>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>

