<h1>AroundITP</h1>
<br>
<h2><a href="/new-entry">What up?</a></h2>
<h2><a href="/itptweets">Tweets about ITP</a></h2>
<h2><a href="/localtweets">Tweets near ITP</a></h2>
<h2><a href="/food">Find Food</a></h2>
<h2><a href="/drink">Find Drink</a></h2>
<% for(i=0; i<posts.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/entry/<%= posts[i].urlslug %>">
                <%= posts[i].title %>
            </a>
        </h2>
        <!---<small>
            <a href="/entryById/<%= posts[i]._id %>">View by objectId</a>
        </small>-->
        <br>
        <small>Location: <%= posts[i].location %></small><br/>
        <small>By <%= posts[i].author.name %> on <%= posts[i].date %></small>
        <br/>
        <hr />
        
    </div>
</div>

<% } %>
