<h1><a href="/">AroundITP</a></h1>
<br>
<br>
<% for(i=0; i<posts.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/entry/<%= posts[i].urlslug %>">
                <%= posts[i].title %>
            </a>
    	</h2>
        <h2>
            <small><%= posts[i].author.name %></small>
        </h2>
        <h3><small><%= posts[i].date %></small></h3>
        <h3><small><%= posts[i].comments.length %> comments </small></h3>
        <br/>
        <hr />
        
    </div>
</div>

<% } %>
