<h1><a href="/">AroundITP</a></h1>
<br>
<h2><a href="/new-entry"><em>Start yammering.</em></a><h2>
<% for(i=0; i<posts.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/entry/<%= posts[i].urlslug %>">
                <%= posts[i].title %>
            </a>
    	</h2>
    	<h3><small><%= posts[i].date %></small></h3>
        <h3>
            <%= posts[i].author.name %>
        </h3>
        <h3><a href="/entry/<%= posts[i].urlslug %>"><%= posts[i].comments.length %> comments</h3>
        <hr />
        
    </div>
</div>

<% } %>
